################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fiap-tech-challenge-fase-4/FileContentIndex/6270c924-9abe-4eb0-839b-960c2ebc60cb.vsidx
/.vs/slnx.sqlite
/.vs/fiap-tech-challenge-fase-4/FileContentIndex
